<?xml version="1.0" encoding="utf-8" ?>

<log4net>  
  <appender name="LogsToConsole" type="log4net.Appender.ConsoleAppender">
    <threshold value="DEBUG" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-15.15logger{1}| %message%newline" />
    </layout>
  </appender>
  <appender name="LogsInText" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs/%processid" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <immediateFlush value="true" />
    <rollingStyle value="Date" />
    <datePattern value=".yyyy-MM-dd.'log'" />
    <maxSizeRollBackups value="-1" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level [%logger] %message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="BO.Social.Server.SyncMatching" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="LogsToConsole" />
    <appender-ref ref="LogsInText" />
  </root>
</log4net>

